<div class='blog-container'>
  <h2>
    <%= link_to blog.title, blog_path(blog) %>
    <% if user_signed_in? && current_user == blog.user %>
      <span class='buttons'>
        <%= render partial: 'shared/edit_btn', locals: { path: edit_blog_path(blog) } %>
        <%= render partial: 'shared/delete_btn', locals: { path: blog_path(blog), confirm: blog.title } %>
      </span>
    <% end %>
  </h2>

  <div class='blog-sub-content'>
    <small><%= blog.created_at.to_s(:datetime_jp) %></small> / 
    <%= link_to blog.user.name, user_path(blog.user) %><br>
    <%if blog.categories.present? %>
      <% blog.categories.each do |category| %>
        <small>[<%=link_to category.name, category_path(category) %>]</small>
      <% end %>
    <% end %>
    <%= render "favarites/favarite", blog: blog %>
    <span>
      <%= icon("far", "comment") %> :
      <%= blog.comments.count %> コメント
    </span>
  </div>

  <br>
  <p><%= auto_link(simple_format(h(blog.body), {}, sanitize: false, wrapper_tag: "div"),
                              html: {target: '_blank'}) %></p>
  <% if blog.images? %>
    <% blog.images.each do |image| %>
      <h5 class='mt-4'><%= image.title %></h5>
      <%= image_tag image.blog_img, class: "blog-image" if image.blog_img? %><br>
    <% end %>
  <% end %>

  <% if blog.favarite_users? %>
    <h5 class='mt-5'>この記事にいいね！！された方</h5>
    <div class='row'>
      <% blog.favarite_users.recent_5.each do |user| %>
        <div class='col-2'>
          <%= render 'users/avatar_img', user: user %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= render partial: "blogs/comment", locals: { blog: blog, comment: @comment } %>
</div>

