<div class='blog-container'>
  <h2>
    <%= link_to blog.title, blog_path(blog) %>

    <% if user_signed_in? && current_user == blog.user %>
      <span class='buttons'>
        <%= render partial: 'shared/edit_btn', locals: { path: edit_blog_path(blog) } %>
        <%= render partial: 'shared/delete_btn', locals: { path: blog_path(blog), confirm: blog.title } %>
      </span>
    <% end %>
  </h2>
  <div class='blog-sub-content'>
    <small><%= blog.created_at.to_s(:datetime_jp) %></small> / 
    <%= link_to blog.user.name, user_path(blog.user) %><br>
    <%if blog.categories.present? %>
      <% blog.categories.each do |category| %>
        <small>[<%=link_to category.name, category_path(category) %>]</small>
      <% end %>
    <% end %>
    <%= render "favarites/favarite", blog: blog %>
    <span>
      <%= icon("far", "comment") %> :
      <%= blog.comments.count %> コメント
    </span>
  </div>

  <br>
  <p><%= auto_link(simple_format(h(blog.body), {}, sanitize: false, wrapper_tag: "div"),
                              html: {target: '_blank'}) %></p>
  <% if blog.images? %>
    <% blog.images.each do |image| %>
      <h5 class='mt-4'><%= image.title %></h5>
      <%= image_tag image.blog_img, class: "blog-image" if image.blog_img? %><br>
    <% end %>
  <% end %>

  <% if blog.favarite_users? %>
    <h5 class='mt-5'>この記事にいいね！！された方</h5>
    <div class='row'>
      <% blog.favarite_users.recent_5.each do |user| %>
        <div class='col-2'>
          <%= render 'users/avatar_img', user: user %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if blog.comments.present? %>
    <h5 class='mt-5'>コメント</h5>
    <% blog.comments.recent_5.each do |comment| %>
      <div class='row mb-2'>
        <div class='col-2'>
          <%= render 'users/avatar_img', user: comment.user %>
        </div>
        <div class='col-10'>
          <div class='lie-container'>
            <strong><%= link_to comment.user.name, user_path(comment.user) %> :</strong>
            <%= comment.content %>
            <% if user_signed_in? && current_user == comment.user %>
              <%= render partial: 'shared/small_delete_btn', locals: { path: blog_comments_path(blog.id) } %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <%if user_signed_in? %>
    <% if !blog.commented_by?(current_user) %>
      <%= form_for [blog, @comment] do |f| %>
        <%= render 'shared/error', object: @comment %>
        <div class='form-group mt-3'>
          <%= f.text_area :content, class: 'form-control', placeholder: 'コメント', rows: 2 %>
        </div>
        <div class='form-group mb-0'>
          <%= button_tag type: "submt", class: "btn btn-primary" do %>
            コメント<%= icon("far", "comment", class: "ml-3") %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

