<p>タイトル：<%= link_to blog.title, blog_path(blog) %></p>

<%= render "favarites/favarite", blog: blog %>

<p><%= auto_link(simple_format(h(blog.body), {}, sanitize: false, wrapper_tag: "div"),
                              html: {target: '_blank'}) %></p>
<% if blog.images? %>
  <% blog.images.each do |image| %>
    <%= image.title %><br>
    <%= image_tag image.blog_img, class: "blog-image" if image.blog_img? %><br>
  <% end %>
<% end %>

<% if blog.favarite_users? %>
  <p>この記事にいいね！！された方</p>
  <div class='row'>
    <% blog.favarite_users.each do |user| %>
      <div class='col-2'>
        <%= image_tag user.avatar_img, class: 'avatar-image' if user.avatar_img? %>
      </div>
    <% end %>
  </div>
<% end %>

<% if blog.comments.present? %>
  <h4>コメント</h4>
  <div class='row'>
  <% blog.comments.each do |comment| %>
    <div class='col-2'>
      <%= render 'users/avatar_img', user: comment.user %>
    </div>
    <div class='col-10'>
      <%= comment.content %>
      <%= render partial: 'shared/small_delete_btn', locals: { path: blog_comments_path(blog.id) } %>
    </div>
  <% end %>
  </div>
<% end %>

<%if user_signed_in? %>
  <% if !blog.commented_by?(current_user) %>
    <%= form_for [blog, @comment] do |f| %>
      <%= f.text_field :content %>
      <br>
      <%= f.submit "コメントする", class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% end %>

<%= render partial: 'shared/edit_btn', locals: { path: edit_blog_path(blog) } %>
<%= render partial: 'shared/delete_btn', locals: { path: blog_path(blog), confirm: blog.title } %>
