<p>タイトル：<%= link_to blog.title, blog_path(blog) %></p>

<%= render "favarites/favarite", blog: blog %>

<p><%= auto_link(simple_format(h(blog.body), {}, sanitize: false, wrapper_tag: "div"),
                              html: {target: '_blank'}) %></p>
<% if blog.images? %>
  <% blog.images.each do |image| %>
    <%= image.title %><br>
    <%= image_tag image.blog_img, class: "blog-image" if image.blog_img? %><br>
  <% end %>
<% end %>

<% if blog.favarite_users? %>
  <p>この記事にいいね！！された方</p>
  <div class='row'>
    <% blog.favarite_users.each do |user| %>
      <div class='col-2'>
        <%= image_tag user.avatar_img, class: 'avatar-image' if user.avatar_img? %>
      </div>
    <% end %>
  </div>
<% end %>

<span>
  <%= link_to edit_blog_path(blog), class: "btn btn-primary" do %>
    編集<%= icon("fas", "pencil-alt", class: 'ml-3')%>
  <% end %>
</span>
<span>
  <%= link_to blog_path(blog), method: :delete, class: "btn btn-primary", 
                               data: { confirm: "#{blog.title} を削除します。よろしいですか？"} do %>
    削除<%= icon("fas", "trash-alt", class: 'ml-3')%>
  <% end %>
</span>