<p>タイトル：<%= link_to blog.title, blog_path(blog) %></p>
<p><%= simple_format(h(blog.body), {}, sanitize: false, wrapper_tag: "div") %></p>
<% if blog.images.present? %>
  <% blog.images.each do |image| %>
    <%= image.title %><br>
    <%= image_tag image.picture.url, class: "blog-image" if image.picture.present? %><br>
  <% end %>
<% end %>
<span><%= link_to "編集", edit_blog_path(blog), class: "btn btn-primary" %></span>
<span><%= link_to "削除", blog_path(blog), 
                method: :delete, 
                class: "btn btn-primary", 
                data: { confirm: "#{blog.title} を削除します。よろしいですか？"} %></span>