<% if blog.images? %>
  <div class='triangle d-none d-sm-block'>
    <%= content_tag(:div, "#{ @favarite_ranking.index(blog) + 1 }", class: 'triangle-font') %>
    <%= link_to blog_path(blog) do %>
      <%= image_tag blog.first_img, class: "avatar-image" if blog.first_img? %>
    <% end %>
  </div>
  <div class='d-block d-sm-none'>
    <%= link_to blog_path(blog) do %>
      <%= image_tag blog.first_img, class: "avatar-image" if blog.first_img? %>
    <% end %>
  </div>
<% else %>
  <% if blog.user.avatar_img? %>
    <div class='triangle d-none d-sm-block'>
      <%= content_tag(:div, "#{ @favarite_ranking.index(blog) + 1 }", class: 'triangle-font') %>
      <%= link_to blog_path(blog) do %>
        <%= image_tag blog.user.avatar_img, class: 'avatar-image' %>
      <% end %>
    </div>
    <div class='d-block d-sm-none'>
      <%= link_to blog_path(blog) do %>
        <%= image_tag blog.user.avatar_img, class: 'avatar-image' %>
      <% end %>
  </div>
  <% else %>
    <div class='triangle d-none d-sm-block'>
      <%= content_tag(:div, "#{ @favarite_ranking.index(blog) + 1 }", class: 'triangle-font') %>
      <%= link_to blog_path(blog) do %>
        <%= image_tag "avatar-image.jpg", class: "avatar-image" %>
      <% end %>
    </div>
    <div class='d-block d-sm-none'>
      <%= link_to blog_path(blog) do %>
        <%= image_tag "avatar-image.jpg", class: "avatar-image" %>
      <% end %>
  </div>
  <% end %>
<% end %>


