<%= nested_form_for(@blog) do |f| %>
  <%= render 'shared/error', object: @blog %>
  <div class='form-group'>
    <%= f.label :title, class: 'label-title' %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'タイトル', autofocus: true %>
  </div>

  <div class='form-group'>
    <%= f.label :body, class: 'label-body' %>
    <%= f.text_area :body, class: 'form-control', rows: 10, placeholder: '記事の内容' %>
  </div>

  <div class='form-group'>
    <p class='mb-1'>カテゴリー</p>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |category| %>
      <% category.label(class: "checkbox-inline mr-3") { category.check_box(class: 'checkbox') + category.text } %>
    <% end %>
  </div>

  <h2 class='mb-2'>ブログ写真追加</h2>
    <%= f.fields_for :images, :html => { multipart: true } do |f| %>
      <div class='form-group'>
        <%= f.label :title, class: 'label-title' %>
        <%= f.text_field :title, class: 'form-control', placeholder: 'タイトル' %>
      </div>

      <div class='form-group'>
        <%= f.object.picture.present? ? image_tag((f.object.picture.url), class: "mb-3 avatar-image") : content_tag(:span, "イメージがありません") %>
        <%= f.file_field :picture, class: 'form-control', accept: 'image/jpeg,image/gif,image/png' %>
      </div>

      <%= f.link_to_remove class: "btn btn-primary btn-sm mb-3" do %>
        写真リンクの削除<%= icon("fas", "trash-alt", class: 'fa-lg fa-fw ml-3')%>
      <% end %>
    <% end %>
    <span>
      <%= f.link_to_add :images, class: "btn btn-primary btn-sm mb-3" do %>
        画像の追加<%= icon("fas", "angle-down", class: 'fa-lg fa-fw ml-3')%>
      <% end %>
    </span>
  <div class='form-group'>
    <%= f.submit nil, class: 'btn btn-primary'%>
  </div>
<% end %>

<script type="text/javascript">
  $('#blog_images_attributes_0_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>