<% if blog.images? %>
  <div class='triangle'>
    <%= content_tag(:div, "#{ @favarite_ranking.index(blog) + 1 }", class: 'triangle-font') %>
    <%= image_tag blog.first_img, class: "avatar-image" if blog.first_img? %>
  </div>
<% else %>
  <% if blog.user.avatar_img? %>
    <div class='triangle'>
      <%= content_tag(:div, "#{ @favarite_ranking.index(blog) + 1 }", class: 'triangle-font') %>
      <%= image_tag blog.user.avatar_img, class: 'avatar-image' %>
    </div>
  <% else %>
    <div class='triangle'>
      <%= content_tag(:div, "#{ @favarite_ranking.index(blog) + 1 }", class: 'triangle-font') %>
      <%= image_tag "avatar-image.jpg", class: "avatar-image" %>
    </div>
  <% end %>
<% end %>


