<%= render "shared/default_top_image" %>

<div class='container'>
  <% if @post_ranking != nil %>
    <div class='inner-container'>
      <h2 class='mb-3'>投稿の多いユーザー</h2>
      <div class='row'>
        <% @post_ranking.each do |user| %>
          <div class='col-lg-3 col-6'>
            <%= render 'users/ranking_avatar_image', user: user %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @favarite_ranking != nil %>
    <div class='inner-container'>
      <h2 class='mb-3'>いいねが多い投稿</h2>
      <div class='row'>
        <% @favarite_ranking.each do |blog| %>
          <div class='col-lg-3 col-6'>
            <%= render 'blogs/ranking_blog_image', blog: blog %>
            <h5><%= link_to blog.title, blog_path(blog) %></h5>
            <small><%= blog.created_at.to_s(:datetime_jp) %></small> / 
            <small><%= link_to blog.user.name, user_path(blog.user) %></small><br>
            <%if blog.categories.present? %>
              <% blog.categories.each do |category| %>
                <small>[<%=link_to category.name, category_path(category) %>]</small>
              <% end %>
            <% end %>
            <%= render "favarites/favarite", blog: blog %>
            <span>
              <%= icon("far", "comment") %> :
              <%= blog.comments.count %> コメント
            </span>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class='inner-container'>
    <div class='row'>
      <div class='col-md-8'>
        <h2>記事一覧</h2>
        <div>
          <%= render @blogs %>
        </div>
        <%= paginate @blogs %>
      </div>
      
      <div class='col-md-4'>
        <h2>カテゴリー一覧</h2>
        <% @categories.each do |category| %>
          
            <%= link_to category_path(category), class: 'btn btn-sm btn-category mr-3 mt-3' do %>
            <%= category.name %>
            (<%= category.blogs.count %>)
            <% end %>
        
        <% end %>

        <h2 class='mt-5'>写真のある投稿</h2>
        <% @picture_having_blogs.each do |blog| %>
        <div class='row mt-3'>
            <div class='col-4'>
              <%= link_to blog_path(blog) do %>
                <%= image_tag blog.first_img, class: "avatar-image" if blog.first_img? %>
              <% end %>
            </div>
            <div class='col-8'>
              <div class='lie-container'>
                <small><%= link_to blog.title, blog_path(blog) %></small><br>
                <small><%= blog.created_at.to_s(:datetime_jp) %></small>
              </div>
            </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


  