
<h1 class='form-header'>アカウントの編集</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control' %>
  </div>

  <div class='form-group'>
    <div class="col-6 pl-0">
      <%= f.label :color %>
      <%= f.text_field :color, class: "form-control", placeholder: "フォントカラー" %>
    </div>
    <%= react_component('Colorpicker', { color: prefered_color, selector: "user_color" }) %>
  </div>
  
  <div class='form-group'>
    <%= f.label :top_image, class: 'label_top_image' %>
    <% if @user.top_image.present? %>
      <%=  image_tag(@user.top_image.url, class: "mb-3 avatar-image", id: "top_image_prev") %>
    <% else %>
      <%= image_tag(@user.top_image.default_url, class: "mb-3 avatar-image", id: "top_image_prev") %>
    <% end %>
    <%= f.file_field :top_image, class: 'form-control', id: "user_top_image", accept: 'image/jpeg,image/gif,image/png' %>
    <p><%= f.check_box :remove_top_image %>画像を削除する</p>
  </div>

  <div class='form-group'>
    <%= f.label :avatar, class: 'label-avatar' %>
    <% if @user.avatar.present? %>
      <%= image_tag(@user.avatar.url, class: "mb-3 avatar-image", id: "avatar_prev") %>
    <% else %>
      <%= image_tag(@user.avatar.default_url, class: "mb-3 avatar-image", id: "avatar_prev") %>
    <% end %>
    <%= f.file_field :avatar, class: 'form-control', id: "user_avatar", accept: 'image/jpeg,image/gif,image/png' %>
    <p><%= f.check_box :remove_avatar %>画像を削除する</p>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: 'email', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit t('.update'), class: 'btn btn-primary' %>
  </div>
<% end %>

<span class="user_delete_button">
  <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %>
</span>
</br>
<p align='center'><%= link_to t('.back'), :back %></p>  
