<%if user_signed_in? %>
  <% if blog.favarited_by?(current_user) %>
    <p>
      <%= link_to icon("fas", "heart"), blog_favarites_path(blog.id), method: :delete, class: "mr-1" %>
      <%= link_to blog_favarites_path(blog.id), method: :delete do %>
        <%= blog.favarites.count %> いいね！！
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to icon("far", "heart"), blog_favarites_path(blog.id), method: :post,class: "mr-1" %>
      <%= link_to blog_favarites_path(blog.id), method: :post do %>
        <%=  blog.favarites.count %> いいね！！
      <% end %>
    </p>
  <% end %>
<% else %>
  <p><%= icon("far", "heart", class: "mr-1") %><%= blog.favarites.count %></p>
<% end %>