<h4 class='mb-0'>
  <%= link_to user.name, user_path(user) %>
</h4>
<% if user_signed_in? && current_user != user %>
  <% if user.followed_by?(current_user) %>
    <%= link_to "フォロー済み", user_relationships_path(user), class: "btn btn-sm btn-follow", method: :delete %>
  <% else %>
    <%= link_to "フォローする", user_relationships_path(user), class: "btn btn-sm btn-outline-secondary btn-unfollow", method: :post %>
  <% end %>
<% end %>

<p class='mb-0'>
  <%= link_to follows_user_path(user) do %>
    フォロー <%= user.followings.count %>人
  <% end %>
</p>
<p class='mb-0'>
  <%= link_to followers_user_path(user) do %>
    フォロワー  <%= user.followers.count %>人
  <% end %>
</p>

<p class="mb-0">作成した記事：<%= user.blogs.count %>個</p>
<div class='row mt-2 mb-2'>
  <% if user.blogs.present? %>
    <% if user.blogs.last.first_img? %>
      <div class='col-4'>
        <%= image_tag user.blogs.last.first_img, class: "avatar-image" if user.blogs.last.first_img? %>
      </div>
      <div class='col-8'>
        <div class='lie-container'>
          <small><%= link_to user.blogs.last.title, blog_path(user.blogs.last) %></small><br>
          <small><%= user.blogs.last.created_at.to_s(:datetime_jp) %></small>
        </div>
      </div>
    <% else %>
      <div class='col-12'>
        <div class='lie-container'>
          </small><%= link_to user.blogs.last.title, blog_path(user.blogs.last) %></small><br>
          <small><%= user.blogs.last.created_at.to_s(:datetime_jp) %></small>
        </div>
      </div>
    <% end %>
  <% end %>
</div>