<%= render 'users/user_top_image', user: @user %>

<div class='container'>
  <div class="row">
    <div class="col-md-8">
      <%= render @blogs %>
      <%= paginate @blogs %>
    </div>
    <div class="col-md-4 d-none d-md-block">
      <%= render partial: 'users/user_new', locals: { user: @user, object: "" }%>
      <%= render "favarite_blogs", user: @user %>
    </div>
  </div>
</div>





