<%= form_with model: @category, local: true do |f| %>
  <%= render "shared/error", object: @category %>
  <div class='form-group'>
    <%= f.label :name, class: 'label-title' %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'カテゴリー名', autofocus: true %>
  </div>

  <div class='form-group'>
    <%= f.submit nil, class: 'btn btn-primary'%>
  </div>
<% end %>