<nav class="navbar navbar-expand-lg navbar-light">
  <%= link_to 'Blog Portfolio', root_path, class: "navbar-brand", class: 'logo' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'ブログ', blogs_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'ユーザー一覧', users_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          カテゴリー
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "カテゴリー新規作成", new_category_path, class: 'dropdown-item' %>
          <%= link_to "カテゴリー一覧", categories_path, class: 'dropdown-item' %>
          <% @categories.each do |category| %>
            <%= link_to category.name, category_path(category), class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">フォロー</a>
            <a class="dropdown-item" href="#">フォロワー</a>
            <%= link_to "プロフィール", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "プロフィール編集", edit_user_registration_path, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    </ul>

    <ul class="navbar-nav md-form-inline">
    <% if user_signed_in? %>
      <li class="nav-item mr-3 mt-2">
        <%= link_to "記事作成", new_blog_path, class: "btn btn-sm btn-outline-success"%>
      </li>
      <li class="nav-item mt-2">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-outline-success"%>
      </li>
    <% else %>
      <li class="nav-item mr-3 mt-2">
        <%= link_to "サインアップ", new_user_registration_path, class: "btn btn-sm btn-outline-success"%>
      </li>
      <li class="nav-item mt-2">
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-sm btn-outline-success"%>
      </li>
    <% end %>
    </ul>
  </div>
</nav>