<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">
    a {color:<%= prefered_color %>;}
    body {color:<%= prefered_color %>;}
    .btn-icon {color:<%= prefered_color %>;}
    </style>
  </head>

  <body>
    <% if controller_action_selects %>

      <div class='cover cover-selects'>
        <%= render 'layouts/background_image' %>
        <%= render 'layouts/header' %>
        <%= render "layouts/flash" %>
        <div class='container'>
          <div class='row'>
            <div class='col-md-6 offset-md-3'>
              <%= yield %>
            </div>
          </div>
        </div>
        <%= render 'layouts/footer' %>
      </div>

    <% else %>
      
      <div class='cover cover-none-select'>
        <%= render 'layouts/header' %>
        <%= render "layouts/flash" %>
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
      
    <% end %>
  </body>
</html>
